<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>jai shree ram</h1>
    <%- include('./partials/scripts') %>
</body>   
</html>